* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(90deg, blue, gold);

}

.zihad {
    height: 100px;
    width: 200px;
    color: white;
    border: 2px solid red;
}

.baby {
    background-color: black;
    height: 100px;
    width: 200px;
    color: pink;
    border: 2px solid red;

}